.ova-image-box {
	position: relative;
	overflow: hidden;
	.img {
		display: block;
		width: 100%;
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
	}
	.content_inner {
		margin-bottom: -85px;
		transition: all .3s linear;
		.icon {
			display: flex;
			i {
				flex-shrink: 0;
				font-size: 50px;
				line-height: 1;
				display: inline-flex;
				color: #fff;
			}
		}
		.title {
			white-space: pre-wrap;
			margin: 0;
			margin-top: 33px;
			font-size: 24px;
			font-weight: 600;
			color: #fff;
			font-family: var(--secondary-font);
		}
		.text_link {
			margin-top: 30px;
			display: inline-block;
			flex-shrink: 0;
			padding: 8px 32px;
			color: #fff;
			font-weight: 500;
			background: var(--primary);
			transition: all .3s linear;
			border: 1px solid transparent;
			visibility: hidden;
			&:hover {
				background: var(--primary-hover);
				border-color: #fff;
			}
			i {
				vertical-align: middle;
				display: inline-flex;
				line-height: 1;
			}
		}
	}
	&:hover {
		.content_inner {
			margin-bottom: 0;
			.text_link {
				visibility: visible;
			}
		}
	}
}